{% extends 'auth/auth_base.html' %}

{% block links %}
{{ super() }}
<link href="//cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css" rel="stylesheet">
{% endblock %}

{% block scripts %}
{{ super() }}

<script src="//cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
{% endblock %}

{% block content %}
<div class="container">
  <h3 class="">Disciplinary Action Management</h3>

  <button type="button" class="btn btn-primary my-4" data-bs-toggle="modal" data-bs-target="#createDisciplinaryActionModal">
    Create Action
  </button>

  <table id="appraisaltable" class="table table-striped">
    <thead>
      <tr>
        <th>Employee Name</th>
        <th>Reason</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      {% for action in all_actions %}
      <tr>
        <td>{{action.employee.f_name}} {{action.employee.l_name}}</td>
        <td>{{action.reason}}</td>
        <td>{{action.date}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<!-- Modal -->
<div class="modal fade" id="createDisciplinaryActionModal" tabindex="-1" aria-labelledby="createDisciplinaryActionModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="POST">
        <div class="modal-header">
          <h5 class="modal-title" id="allowLoginModalLabel">Request Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <span id="confirmText"></span>
          <div class="input-group form-group mb-2">
            <select name="employee_id" class="form-control">
              {% for employee in employees %}
              <option value="{{employee.id}}">{{employee.f_name}} {{employee.l_name}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="input-group form-group mb-2">
            <input type="date" name="date" required placeholder="Date From" />
          </div>
          <div class="input-group form-group mb-2">
            <textarea name="reason" cols="50" rows="5"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Confirm</button>
        </div>
      </form>
    </div>
  </div>
</div>


<div class="modal fade" id="completeAppraisalModal" tabindex="-1" aria-labelledby="completeAppraisalModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="POST" action="confirm-leave">
        <div class="modal-header">
          <h5 class="modal-title" id="completeAppraisalModalLabel">Confirm Appraisal</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <span id="confirmText">Are you sure you want to approve this leave?</span>
          <input type="hidden" id="leave_id" name="leave_id"/>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Confirm</button>
        </div>
      </form>
    </div>
  </div>
</div>



<script>
  $("#appraisaltable").DataTable(
    {
        dom: 'Bfrtip',
        buttons: [
            'print'
        ]
    }
  );

  $('#completeAppraisalModal').on('show.bs.modal', function (e) {
    var appr_id = $(e.relatedTarget).data('appr-id');
    $('#leave_id').val(appr_id);
  });

</script>
{% endblock %}